In [26]:
import pandas as pd

data = {'jaar': [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012],
       'team': ['Ajax', 'Ajax', 'Ajax', 'PSV', 'PSV', 'AZ', 'AZ', 'AZ'],
       'win': [11, 8, 10, 15, 11, 6, 10, 4],
       'verlies': [5, 8, 6, 1, 5, 10, 6, 12]}


dfVoetbal = pd.DataFrame(data)
dfVoetbal

   jaar  team  verlies  win
0  2010  Ajax        5   11
1  2011  Ajax        8    8
2  2012  Ajax        6   10
3  2011   PSV        1   15
4  2012   PSV        5   11
5  2010    AZ       10    6
6  2011    AZ        6   10
7  2012    AZ       12    4

In [38]:
import pandas as pd

dfGames = pd.read_csv("games.csv")

dfGames.columns

kolommen = ["Name", "EU_Sales"]

dfGamesKlein = dfGames[kolommen]

dfGamesKlein.head(16)

                           Name  EU_Sales
0                    Wii Sports     28.96
1             Super Mario Bros.      3.58
2                Mario Kart Wii     12.76
3             Wii Sports Resort     10.93
4      Pokemon Red/Pokemon Blue      8.89
5                        Tetris      2.26
6         New Super Mario Bros.      9.14
7                      Wii Play      9.18
8     New Super Mario Bros. Wii      6.94
9                     Duck Hunt      0.63
10                   Nintendogs     10.95
11                Mario Kart DS      7.47
12  Pokemon Gold/Pokemon Silver      6.18
13                      Wii Fit      8.03
14           Kinect Adventures!      4.89
15                 Wii Fit Plus      8.49

In [51]:
import pandas as pd

dfGames = pd.read_csv("games.csv")

dfGames.columns

kolommen = ["Name", "Platform", "EU_Sales"]

dfGamesKlein = dfGames[kolommen]

dfGamesKleinSorted = dfGamesKlein.sort_values(by=["EU_Sales"], ascending=True)

dfPSGames = dfGamesKleinSorted[dfGamesKleinSorted.Platform == "PS"]
dfPSGames.head(10)

                                                    Name Platform  EU_Sales
10678                                     Crime Crackers       PS       0.0
10411                                                  D       PS       0.0
10506  Gouketuji Ichizoku 2: Chottodake Saikyou Densetsu       PS       0.0
10974                                       Rapid Reload       PS       0.0
10944                                 Shin Megami Tensei       PS       0.0
10911                                    World Stadium 5       PS       0.0
11077                  Detana TwinBee Yahho! Deluxe Pack       PS       0.0
10780               Tokimeki Memorial: Taisen Pazurudama       PS       0.0
10761                              Virtual Pro Wrestling       PS       0.0
10744                           Option Tuning Car Battle       PS       0.0

In [56]:
import pandas as pd

dfGames = pd.read_csv("games.csv")

dfGames.columns

kolommen = ["Name", "Platform", "Year_of_Release"]

dfGamesKlein = dfGames[kolommen]

dfGamesKleinSorted = dfGamesKlein.sort_values(by=["Year_of_Release"], ascending=False)

dfPSGames = dfGamesKleinSorted[dfGamesKleinSorted.Platform == "Wii"]
dfPSGames.head(5)

                                      Name Platform  Year_of_Release
8010                       Just Dance 2017      Wii           2016.0
2179                       Just Dance 2016      Wii           2015.0
8942             Skylanders: SuperChargers      Wii           2015.0
16315    Monster High: New Ghoul in School      Wii           2015.0
14684  Barbie and Her Sisters Puppy Rescue      Wii           2015.0